
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.game-info-container {
    padding: 25px;
}

.game-container {
    margin: 50px auto;
    margin-top: 0;
    padding-top: 0;
}

.game-info {
    font-family: 'Grenze Gotisch', cursive;
    font-size: 50px;
    color: #ebd512;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

body {
    height: 100vh; /* sets to take up 100% space */
   /* display: flex; /*centres grid */
    background-image: url('images/hogwarts3.png');
    background-repeat: no-repeat;
    display: grid;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;/* creates a deeper perspective when the card flips */
    padding-bottom: 50px;
    /* background-image: url('images/dumblecore.png'); */
}

.card {
    width: calc(25% - 10px);/*calculates width relative to the margin */
    height:calc(33.333% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style:preserve-3d; /* helps creates the 3d card flips */
    transition: transform .5s;
    cursor: url('images/cursor.cur'), auto;
    }

/* class becomes active when card is clicked */
.card:active {
    transform: scale(.97);
    transition: transform .2s; /*smooths transition */
}
/* rotates card to create flip */

.card.flip {
    transform:rotateY(180deg)
}

.front-face,
.back-face {
    width: 100%;
    height:100%;
    position: absolute;
    border-radius: 5px;
    background: #1c7ccc;
    border: 2px solid rgba(221, 221, 11, 0.897);
    backface-visibility: hidden; /* hides that 'reverse' image of card */
}

.front-face {
    transform: rotateY(180deg);
}

.page-title {
    font-family: 'Grenze Gotisch', cursive;
    color: #ebd512;
    font-size: 150px;
    text-align: center;
    margin-top: 50px;
}

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    color:#ebd512;
    font-family: 'Grenze Gotisch', cursive;
    transition: background-color 500ms, font-size 500ms;
}

.overlay-text.visible {
    display: flex;
    animation: overlay-grow 500ms forwards;
}

.overlay-text-small {
    font-size: .3em;

}

/* Game over animation */
@keyframes overlay-grow {
    from {
        background-color: rgba(0,0,0,0);
        font-size: 0;
    }
    to {
        background-color: rgba(0,0,0,.8);
        font-size: 10em;
    }

}